<%- include('layout_top') %>
<section class="card narrow">
  <h1>Erreur</h1>
  <p><%= message %></p>
  <a class="button primary" href="/rooms">Retour aux salles</a>
</section>
<%- include('layout_bottom') %>
