<% if (success) { %>
<div class="flash-wrap">
  <div class="flash flash-success">✓ <%= success %></div>
</div>
<% } %>
<% if (error) { %>
<div class="flash-wrap">
  <div class="flash flash-error">⚠ <%= error %></div>
</div>
<% } %>
